@use "../../assets/styles/mixins" as mixin;

.board {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 100px;
  justify-content: center;
  margin: 40px 0px;
  width: 100%;

  @include mixin.md-lt {
    grid-template-columns: repeat(3, 150px);
    align-items: center;
  }

  @include mixin.sm-lt {
    grid-template-columns: repeat(2, 150px);
  }

  @include mixin.xs {
    grid-template-columns: repeat(1, 150px);
  }
}
