.btn {
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;
  font-family: var(--font-family);
  font-weight: 800;

  &:hover {
    transform: scale(0.95);
    transition: 300ms;
  }
}

.btn-primary {
  background-color: var(--secondary);
  color: var(--blue);
  border: 1px solid black;
  text-decoration: none;
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.table {
  background-color: #5191a9;
}
